﻿@using GameOfLife.Data
@model GameOfLife.Mvc.Models.GameListViewModel

@{
    ViewBag.Title = "Active Games";
}

<h2>Your Active Games</h2>
<p>
    @Html.ActionLink("Create Active Game", "CreateGame", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Games[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Games[0].Width)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Games[0].Height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Games[0].Cells)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.Games)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                <pre style="display:inline-block;">
                    @Html.DisplayFor(modelItem => item.CellsForDisplay)
                </pre>
            </td>
            <td>
                @Html.ActionLink("Play Game", "PlayGame", new { gameName = item.Name })
                @{
                    var appUser = User.ToApplicationUser();

                    if (User != null && appUser != null)
                    {
                        if (appUser.Id == item.UserId || User.IsInRole(RoleKeys.ADMIN))
                        {
                            <span>|</span>
                            @Html.ActionLink("Save Game", "SaveGame", new { gameName = item.Name })
                        }
                    }
                    <span>|</span>
                    @Html.ActionLink("Remove Active Game", "DeleteActiveGame", new { gameName = item.Name })
                }
            </td>
        </tr>
                    }

    @if (Model == null || Model.Games.Count() <= 0)
    {
        <tr>
            <td colspan="5">
                Sorry but there are no games to show. Why not create one?!
            </td>
        </tr>
    }
</table>