﻿@model GameOfLife.Mvc.Models.GameViewModel

@{
    ViewBag.Title = "Play Game";
}

<h2>Play Game</h2>

<dl class="dl-horizontal">
    <dt>
        @Html.HiddenFor(m => m.Name, new { id = "hdnName" })
        @Html.DisplayNameFor(model => model.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Width)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Width)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Height)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Height)
    </dd>
    <dt>
        Actions
    </dt>
    <dd>
        <a id="btnStart" href="#" class="btn btn-default">
            Start
        </a>
        <a id="btnStop" href="#" class="btn btn-default disabled">
            Stop
        </a>
        @Html.ActionLink("Save Game", "SaveGame", new { gameName = Model.Name }, new { @class = "btn btn-default" })
        @Html.ActionLink("Delete Active Game", "DeleteActiveGame", new { gameName = Model.Name }, new { @class = "btn btn-default" })
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Cells)
    </dt>
    <dd>
        <pre id="cells-container" style="display:inline-block;">
            @Html.DisplayFor(model => model.CellsForDisplay)
        </pre>
    </dd>
</dl>

@Scripts.Render("~/Scripts/play-game.js")