﻿@model GameOfLife.Mvc.Models.GameListViewModel

@{
    ViewBag.Title = "Saved Games";
}

<h2>Your Saved Games</h2>
@Html.ActionLink("Create Active Game", "CreateGame", null, new { @class = "btn btn-primary" })
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Games[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Games[0].Width)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Games[0].Height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Games[0].Cells)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.Games)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                <pre style="display:inline-block;">
                    @Html.DisplayFor(modelItem => item.CellsForDisplay)
                </pre>
            </td>
            <td>
                @Html.ActionLink("Add to Active Games", "MakeActive", new { id = item.Id }) |
                @Html.ActionLink("Play", "MakeActive", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteSavedGame", new { id = item.Id })
            </td>
        </tr>
    }

    @if (Model == null || Model.Games.Count() <= 0)
    {
        <tr>
            <td colspan="5">
                Sorry, but there are no games to show.
            </td>
        </tr>
    }
</table>