﻿@{
    ViewBag.Title = "Home Page";
}

<div class="container body-content">
    <div class="jumbotron">
        <h1>Conway's Game of Life implemented by Luke Warren</h1>
        <p class="lead">
            The game is a zero-player game, meaning that its evolution is determined by its initial state,
            requiring no further input. One interacts with the Game of Life by creating an initial configuration
            and observing how it evolves, or, for advanced players, by creating patterns with particular properties.
        </p>
        <p>
            <a href="/UserTemplate" class="btn btn-primary btn-lg">All Templates »</a>
        </p>
        <p>
            <a href="/UserGame/CreateGame" class="btn btn-primary btn-lg">Create Active Game »</a>
        </p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Rules</h2>
            <p>
                The universe of the Game of Life is an infinite two-dimensional orthogonal grid of square cells,
                each of which is in one of two possible states, alive or dead. Every cell interacts with its eight neighbours,
                which are the cells that are horizontally, vertically, or diagonally adjacent.
            </p>
        </div>
        <div class="col-md-4">
            <h2>&nbsp;</h2>
            <p>
                At each step in time, the following transitions occur:
            </p><ol>
                <li>Any live cell with fewer than two live neighbours dies, as if caused by under-population.</li>
                <li>Any live cell with two or three live neighbours lives on to the next generation.</li>
                <li>Any live cell with more than three live neighbours dies, as if by over-population.</li>
                <li>Any dead cell with exactly three live neighbours becomes a live cell, as if by reproduction.</li>
            </ol>
            <p></p>
        </div>
        <div class="col-md-4">
            <h2>&nbsp;</h2>
            <p>
                The initial pattern constitutes the seed of the system. The first generation is created by applying the above rules
                simultaneously to every cell in the seed—births and deaths occur simultaneously, and the discrete moment at which this
                happens is sometimes called a tick (in other words, each generation is a pure function of the preceding one).

                The rules continue to be applied repeatedly to create further generations.
            </p>
        </div>
    </div>
</div>