﻿@using GameOfLife.Data;
@model GameOfLife.Mvc.Models.TemplateViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Width)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Width)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cells)
        </dt>

        <dd>
            <pre style="display:inline-block;">
                @Html.DisplayFor(model => model.CellsForDisplay)
            </pre>
        </dd>
    </dl>
</div>
<p>
    @{
        if (User != null)
        {
            var appUser = User.ToApplicationUser();
            if (appUser != null)
            {
                if (Model.UserId == appUser.Id || User.IsInRole(RoleKeys.ADMIN))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" })
                }
            }
        }
    }
    @Html.ActionLink("Create Active Game", "CreateGame", "UserGame", new { templateId = Model.Id }, new { @class = "btn btn-default" })
    @Html.ActionLink("Back to All Templates", "Index", "UserTemplate", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Back to My Templates", "MyTemplates", "UserTemplate", null, new { @class = "btn btn-default" })
</p>