﻿@using GameOfLife.Data
@model GameOfLife.Mvc.Models.TemplatesListViewModel

@{
    ViewBag.Title = "My Templates";

    var appUser = User.ToApplicationUser();
}

<h2>Templates</h2>

<p>
    @Html.ActionLink("Create New", "Edit", null, new { @class = "btn btn-primary" })
</p>

@using (Html.BeginForm("SearchMyTemplates", "UserTemplate"))
{
    @Html.EditorFor(m => m.Filter, new { @class = "form-control" })
    <input type="submit" class="btn btn-primary" value="Search" />
    @Html.ActionLink("Clear", "MyTemplates", "UserTemplate", null, new { @class = "btn btn-default" })
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Templates[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Templates[0].Width)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Templates[0].Height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Templates[0].Cells)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.Templates)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                <pre style="display:inline-block;">
                    @Html.DisplayFor(modelItem => item.CellsForDisplay)
                </pre>
            </td>
            <td>
                @Html.ActionLink("Create Active Game", "CreateGame", "UserGame", new { templateId = item.Id }, new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |

                @if (User != null && appUser != null)
                {
                    if (appUser.Id == item.UserId || User.IsInRole(RoleKeys.ADMIN))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        <span>|</span>
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    }
                }
            </td>
        </tr>
    }

    @if (Model == null || Model.Templates.Count() <= 0)
    {
        <tr>
            <td colspan="5">
                Sorry but there are no templates to show. Why not create one?!
            </td>
        </tr>
    }
</table>