﻿@model GameOfLife.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>
            Actions
        </dt>
        <dd>
            @Html.ActionLink("My Templates", "MyTemplates", "UserTemplate", null, new { @class = "btn btn-default" })
            @Html.ActionLink("Saved Games", "Saved", "UserGame", null, new { @class = "btn btn-default" })
        </dd>
    </dl>
</div>